<html ng-app="generate">
<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
<script type="text/javascript" src ="mainController.js"></script>
</head>

<body ng-controller="mainController">
<p>Number of Questions <input type="number" ng-model="number" placeholder="Enter a number"></p>
<button ng-click="" >Generate</button>


</body>
</html>