<html ng-app="qpgenerator">
<head>
<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.4/ui-bootstrap-tpls.js"> </script>

<!---- Bootstrap CDNs------>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!--- end of Bootstrap CDNs---->

<script type= "text/javascript" src ="../angularController.js"></script>
<script type= "text/javascript" src ="../unitSelectController.js"></script>

<link rel="stylesheet" href= "../public/stylesheets/style.css" />
</head>


<body>

<!-- Nav Bar -->
<nav class = "navbar navbar-default">
	<div class= "container-fluid>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Smriti</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav">
			<li><a href="#">Home</a></li>
			<li><a href="#">About us</a></li>
		  </ul>
		</div><!-- /.navbar-collapse -->
	</div><!--- end of container-fluid-->
</nav> <!--- end of NAV BAR----->

<div class="container-fluid" ng-controller="sidebarController">
	<div class="col-xs-3 col-sm-3 col-md-3">
		<!-- User Name -->
		<span class="glyphicon glyphicon-user"></span> Hello {{username}} <br/>
		<!-- Board Selection drop down -->
		<h4 class="ddheadings" >Board: </h4>
		<div class="btn-group" uib-dropdown>
		  <button id="single-button" type="button" class="ddbuttons btn btn-default btn-sm" uib-dropdown-toggle>
			{{selectedBoard}} <span class="caret"></span>
		  </button>
		  <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
			<li ng-repeat="board in boards" role="menuitem" ng-click="onChange($index,'board')"><a href="#">{{board}}</a></li>
		  </ul>
		</div><br/>
		
		<!-- Class selection drop down -->
		<h4 class="ddheadings" >Class: </h4>
		<div class="btn-group" uib-dropdown>
		  <button id="single-button" type="button" class="ddbuttons btn btn-default btn-sm" uib-dropdown-toggle>
			{{selectedClass}} <span class="caret"></span>
		  </button>
		  <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
			<li ng-repeat="class in classes" role="menuitem" ng-click="onChange($index,'class')"><a href="#">{{class}}</a></li>
		  </ul>
		</div><br/>
		<!-- Subject list out
				unit list out -->
		<h4 class="ddheadings" >Subject: </h4>
		<div class="btn-group" uib-dropdown>
		  <button id="single-button" type="button" class="ddbuttons btn btn-default btn-sm" uib-dropdown-toggle>
			{{selectedSubject}} <span class="caret"></span>
		  </button>
		  <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
			<li ng-repeat="subject in subjects" role="menuitem" ng-click="onChange($index,'subject')"><a href="#">{{subject}}</a></li>
		  </ul>
		</div> <br/>

		<!-- Generate button -->
		<button class="btn btn-success pull-right" ng-click="onNextClick()">Next ></button>
	</div>
	<div class="col-xs-9 col-sm-9 col-md-9">
		Hello!
		<!-- List of questions -->
	</div>
</div>


<script type="text/ng-template" id="marksQuestions.html">
	<!-- Modal window for selecting marks  and no of questions-->
	<div class="modal-header">
            <h3 class="modal-title">Select Units</h3>
        </div>
        <div class="modal-body">
            <div class="list-group">
                <a class="list-group-item" ng-class="{'selected' : selectedUnitClass[$index]}" ng-click="onUnitChange($index)" ng-repeat="unit in units">
					{{ unit }}
				</a>
            </div>
            Selected: <b>{{ selectedUnits.toString() }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
</script>



<!--

<button ng-click="addType()">Add Type</button>
<div ng-repeat="i in typeNums">
<p>Enter the type of questions <input type="number" ng-model="requiredTypes[i]" placeholder="Enter a number"></p>
<p>Enter the number of questions <input type="number" ng-model="requiredQuestions[i]" placeholder="Enter a number"></p>
</div>
<h2>Total Marks : {{totalmarks}}</h2>
<button ng-click="generate()">Generate</button>



<div id="twoMarkQuestions">
<h2>Two Mark Questions</h2>
<p ng-repeat="q1 in two">
{{q1}}
</p>
</div>

<div id="fiveMarkQuestions">
<h2>Five Mark Questions</h2>
<p ng-repeat="q2 in five">
{{q2}}
</p>
</div> -->

</body>
</html>
